extends ../layout

block content
  .container
    h2 !{ order.customerName }
    .row
      .col-md-2.strong Phone Number:
      .col-md-10 !{ order.customerPhoneNumber }
    .row
      .col-md-2.strong Status:
      .col-md-10 
        include _status
    .row
      .col-md-2.strong Notification Status:
      .col-md-10 
        include _notificationStatus
    .row
      .col-md-12.top-buffer
        form(method='POST', action="/order/!{order.id}/pickup", accept-charset='UTF-8')
          button.btn.btn.btn-info.full-width(type='submit') Pick up the package
    .row
      .col-md-12.top-buffer
        form(method='POST', action="!/order/!{order.id}/deliver}", accept-charset='UTF-8')
          button.btn.btn.btn-primary.full-width(type='submit') Deliver up the package
    .row
      .col-md-12.top-buffer
        a.fa.fa-arrow-left.fa-4x(href="/")
